/** Google fonts **/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');
/** Animations **/
@import url('animations.css');
/** Homepage styles **/
@import url('home.css');
/** Game styles **/
@import url('game.css');


/** mini-reset css **/
*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

:root{

    --version: 'v0.9.3a';
    --date: ' 27-11-2019';

    /** Main colors **/
    --background-color: #1A1D1E;
    --main-text-color:  #ffffff;
    --main-text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.55);
    --selection-color:  #06C995;

    /** Difficulties **/
    --easy-color:       #06C995;
    --easy-icon:        url('../img/icons/easy-icon.svg');

    --normal-color:     #EFC45F;
    --normal-icon:      url('../img/icons/normal-icon.svg');

    --hard-color:       #E24469;
    --hard-icon:        url('../img/icons/hard-icon.svg');

    --insane-color:     #4D254E;
    --insane-icon:      url('../img/icons/insane-icon.svg');
    
    --diff-text-color:  #ffffff;
    --insane-text-color:#D94949;

    /** Menu buttons **/
    --mods-color:       #BD7757;
    --mods-icon:        url('../img/icons/mods-icon.svg');

    --start-color:      #21C7BD;

    --wheel-color:      #E2B50F;
    /* --wheel-icon:       url('../img/icons/wheel-icon.svg'); */

    --shop-color:       #E88B3C;
    /* --shop-icon:        url('../img/icons/shop-icon.svg'); */

    --htp-color:        #3C8DEA;
    --htp-icon:         url('../img/icons/htp-icon.svg');

    --stats-color:      #CE254C;
    --stats-icon:       url('../img/icons/stats-icon.svg');

    --config-color:     #7218F9;
    --config-icon:      url('../img/icons/config-icon.svg');


    /** Fields **/
    --fields-gap: 15px;

    /** Field colors **/
    --unrevealed:       #7B7E7F;
    --revealed:         #629bb6;
    --flaged:           #c5874d;
    --bomb:             #9e4343;
    --special-field:    #ffffff;
    --field-num-1:      #ffffff;
    --field-num-2:      #ffffff;
    --field-num-3:      #ffffff;
    --field-num-4:      #ffffff;
    --field-num-5:      #ffffff;
    --field-num-6:      #ffffff;
    --field-num-7:      #ffffff;
    --field-num-8:      #ffffff;

    /** Menu colors **/
    --mods:             #d1764c;
    --play:             #3f95bd;
    --stats:            #bb54a5;
    --how-to-play:      #52489C;
    --config:           #088888;
    --error-text-color: #E24469;
    --cover-text-color: #7a7a7a;
    --modal-background: #1A1D1E;
    --modal-border:     #0c0d0e;
    --modal-list-hover: #0f1111;
    --modal-hover-label:#9c9c9c;

    /** Menu **/
    --home-btn-shadow: 0 0 35px;

}

/** User selection **/
::selection{
    background: #06C995;
}

/** Hide arrows in number inputs **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    /** Globaly centred flex on body **/
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /** Gbloal main settings **/
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;    
}
/** Global scrollbar remover **/
::-webkit-scrollbar {display: none;}